<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.vsu.cs.farsharing">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:name=".activity.FarSharingApp"
        android:allowBackup="true"
        android:icon="@drawable/farsharing_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/farsharing_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.NewApp">
        <activity
            android:name=".activity.MenuActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MyAccountActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AreYouSureActivity"
            android:exported="false" />
        <activity
            android:name=".activity.TextSupportActivity"
            android:exported="false" />
        <activity
            android:name=".activity.CarDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".activity.PaymentActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ConfirmEmailActivity"
            android:exported="false" />
        <activity
            android:name=".activity.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".activity.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".activity.WelcomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>


</manifest>