<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.vsu.cs.farsharing">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".config.FarSharingApp"
        android:allowBackup="true"
        android:icon="@drawable/farsharing_logo_with_car"
        android:label="@string/app_name"
        android:roundIcon="@drawable/farsharing_logo_with_car"
        android:supportsRtl="true"
        android:theme="@style/Theme.NewApp"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activity.main.MyCarsActivity"
            android:exported="false" />
        <activity
            android:name=".activity.admin.client_list.ClientDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".activity.admin.client_list.ClientListActivity"
            android:exported="false" />
        <activity
            android:name=".activity.admin.add_car.AddCarActivity"
            android:exported="false" />
        <activity
            android:name=".activity.admin.AdminMainActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MenuActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MyAccountActivity"
            android:exported="false" />
        <activity
            android:name=".activity.TextSupportActivity"
            android:exported="false" />
        <activity
            android:name=".activity.main.CarDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".activity.payment.PaymentActivity"
            android:exported="false" />
        <activity
            android:name=".activity.main.MainActivity"
            android:exported="false" />
        <activity
            android:name=".activity.register.ConfirmEmailActivity"
            android:exported="false" />
        <activity
            android:name=".activity.register.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".activity.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".activity.welcome.WelcomeActivity"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>